<p class="title">*ngIf</p>

<p *ngIf="isVisible">Ciao sono visibile</p>
<p *ngIf="!isVisible">Ciao non sono visibile</p>

<!-- oppure posso utilizzare la variabile template con il tag ng-template -->
<p *ngIf="isVisible; else bloccoElse">Ciao sono visibile</p>
<!-- Richiamo la variabile template con # -->
<ng-template #bloccoElse>
  <p>Ciao non sono visibile, sono il bloccoElse</p>
</ng-template>

<!-- o meglio ancora possiamo fare: -->
<ng-template *ngIf="isVisible2; then bloccoIf; else bloccoElse"></ng-template>
<ng-template #bloccoIf>
  <p>Ciao sono visibile, sono il bloccoIf</p>
</ng-template>
<ng-template #bloccoElse>
  <p>Ciao non sono visibile</p>
</ng-template>

<hr />

<p class="title">*ngFor</p>

<ul>
  <li *ngFor="let persona of persone">
    {{ persona.Nome }} {{ persona.Cognome }}
  </li>
</ul>

<p>Un altro esempio puo essere:</p>

<div class="container" *ngFor="let persona of persone">
  <p class="cerchioVerde" *ngIf="persona.isOnline"></p>
  <p class="cerchioRosso" *ngIf="!persona.isOnline"></p>
  <p>{{ persona.Nome }} {{ persona.Cognome }}</p>
</div>

<p>Prendere altre variabili dal ciclo:</p>

<p>Stampo l'index di ogni elemento ciclato</p>
<div class="container" *ngFor="let persona of persone; index as i">
  <p>{{ i }}. {{ persona.Nome }} {{ persona.Cognome }}</p>
</div>

<p>Stampo true/false se l'elemento è paro</p>
<div class="container" *ngFor="let persona of persone; even as IsEven">
  <p>{{ IsEven }} {{ persona.Nome }} {{ persona.Cognome }}</p>
</div>

<p>Stampo true/false se l'elemento è disparo</p>
<div class="container" *ngFor="let persona of persone; odd as IsOdd">
  <p>{{ IsOdd }} {{ persona.Nome }} {{ persona.Cognome }}</p>
</div>

<hr />

<p class="title">*ngSwitch</p>

<p>Switch con i numeri</p>
<div [ngSwitch]="numero">
  <p *ngSwitchCase="1">Uno</p>
  <p *ngSwitchCase="2">Due</p>
  <p *ngSwitchCase="3">Tre</p>
  <p *ngSwitchCase="4">Quattro</p>
  <p *ngSwitchDefault>Default</p>
</div>

<p>Switch con le stringhe</p>
<div [ngSwitch]="stringa">
  <p *ngSwitchCase="'Pippo'">Pippo</p>
  <p *ngSwitchCase="'Paperino'">Paperino</p>
  <p *ngSwitchCase="'Pluto'">Pluto</p>
  <p *ngSwitchCase="'Topolino'">Topolino</p>
  <p *ngSwitchDefault>Default</p>
</div>

<hr />

<p class="title">*ngStyle</p>

<ul>
  <li class="children" *ngFor="let persona of persone">
    <div
      class="cerchio"
      [ngStyle]="{ background: persona.isOnline ? 'green' : 'red' }"
    ></div>
    <p>{{ persona.Nome }} {{ persona.Cognome }}</p>
  </li>
</ul>

<hr />

<p class="title">*ngClass</p>

<ul>
  <li class="children" *ngFor="let persona of persone; index as i">
    <div
      class="cerchio2"
      [ngClass]="persona.isOnline ? 'cerchioOnline' : 'cerchioOffline'"
    >
      {{ i }}
    </div>
    <p>{{ persona.Nome }} {{ persona.Cognome }}</p>
  </li>
</ul>
