.title {
  font-size: 25px;
}

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cerchioVerde,
.cerchioRosso {
  width: 10px;
  height: 10px;
  border-radius: 20px;
}

.cerchioVerde {
  background-color: green;
}
.cerchioRosso {
  background-color: red;
}

.children {
  display: flex;
}
.cerchio {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.cerchio2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}
.cerchioOnline {
  background-color: green;
  color: white;
}
.cerchioOffline {
  background-color: red;
  color: orange;
}
