<p class="title">Buttons</p>

<button mat-raised-button color="primary" (click)="onClick()">Primary</button>
<button mat-raised-button color="primary" (click)="onClick2(this)">
  Primary
</button>

<hr />

<p class="title">Input</p>

<mat-form-field class="example-full-width">
  <mat-label>Input</mat-label>
  <input matInput placeholder="Ex. Text" (input)="onInput($event)" />
</mat-form-field>

<hr />

<p class="title">Input two-way binding</p>

<button mat-raised-button color="primary" (click)="onClick3($event)">
  Primary
</button>

<mat-form-field class="example-full-width">
  <mat-label>Input 2</mat-label>
  <input matInput placeholder="Ex. Text" [(ngModel)]="text" />
</mat-form-field>

<p>{{ text }}</p>

<hr />
