<app-prova></app-prova>
<app-input></app-input>
<app-directives></app-directives>

<!-- Passare dati da Parent(app) a Child(prova2) -->
<app-prova2 [data]="persone"></app-prova2>
<button (click)="OnClick()">Change Name</button>
<!--  -->

<hr />

<!-- Passare dati da Child(prova2) a Parent(app) -->
<app-prova3 (mandaDatiEvento)="onRiceviDati($event)"></app-prova3>

<hr />

<!-- Prendere reference elemento HTML in typescript -->
<h1>Prendere reference elemento HTML in typescript</h1>

<input #inputSaluti value="ciao" />
<button (click)="onClick()">Button</button>

<hr />

<!-- Direttiva -->
<h1>Direttiva</h1>
<!-- Passo al mio p il selettore della direttiva -->
<p [appHighlight]="colore">Ciao sono un paragrafo</p>

<!-- Esempio uso Direttiva -->
<h2>Scegli il colore dell'evidenziatore</h2>
<div>
  <input
    type="radio"
    name="coloreEvidenziatore"
    (click)="cambiacoloreEvidenziatore('red')"
  />
  Rosso
  <input
    type="radio"
    name="coloreEvidenziatore"
    (click)="cambiacoloreEvidenziatore('pink')"
  />
  Rosa
  <input
    type="radio"
    name="coloreEvidenziatore"
    (click)="cambiacoloreEvidenziatore('purple')"
  />
  Viola
</div>
<p [appHighlight]="colore">Ciao sono un paragrafo</p>

<!-- Esempio uso Direttiva con una seconda proprietà -->
<!-- Se non seleziono un colore si attiva il defaultColor in contemporanea su tutti e 3 i p-->
<p [appHighlight]="colore" defaultColor="grey">Ciao sono un paragrafo2</p>
<p [appHighlight]="colore" defaultColor="maroon">Ciao sono un paragrafo2</p>
<p [appHighlight]="colore" defaultColor="yellow">Ciao sono un paragrafo2</p>

<hr />

<h1>Pipes</h1>

<p>Ciao benvenuti al {{ text | uppercase }}</p>
<p>Ciao benvenuti al {{ text | lowercase }}</p>

<p>Tipi di date (datepipe):</p>
<p>Questa è la data di oggi: {{ dataOggi | date }}</p>
<p>Questa è la data di oggi: {{ dataOggi | date : "medium" }}</p>
<p>Questa è la data di oggi: {{ dataOggi | date : "shortTime" }}</p>
<p>Questa è la data di oggi: {{ dataOggi | date : "short" }}</p>
<p>Questa è la data di oggi: {{ dataOggi | date : "h:mm:ss" }}</p>
<p>Questa è la data di oggi: {{ dataOggi | date : "d/MMM/yyyy - h:mm:ss" }}</p>

<p>decimalpipe:</p>
<!-- interi. decimale-massimo decimale -->
<p>{{ numero | number : "1.0-4" }}</p>

<p>percentagepipe</p>
<p>{{ numero | percent : "1.0-4" }}</p>

<p>currencypipe</p>
<p>{{ numero2 | currency }}</p>
<!-- possiamo trasformarlo da dollaro a euro -->
<p>{{ numero2 | currency : "EUR" }}</p>

<hr />

<h1>Services</h1>

<app-prova-for-services></app-prova-for-services>

<hr />

<h1>Routing</h1>

<a routerLink="/">Home</a>
<a routerLink="about" style="margin-left: 10px; margin-right: 10px">About</a>
<a routerLink="contact">Contact</a>

<router-outlet></router-outlet>

<hr />

<h1>Routing con parametri</h1>

<a routerLink="/" style="margin-right: 10px">Home</a>
<a routerLink="contact">Contact</a>

<router-outlet></router-outlet>

<hr />

<h1>Routing Children</h1>

<a routerLink="/" style="margin-right: 10px">Home</a>
<a routerLink="contact">Contact</a>

<router-outlet></router-outlet>

<hr />

<h1>Form</h1>

<app-form></app-form>

<hr />

<h1>Reactive Form</h1>

<app-reactive-form></app-reactive-form>

<hr />

<h1>Http</h1>

<app-http></app-http>

<hr />

<h1>Http 2</h1>

<app-http2></app-http2>

<hr />

<h1>SignUp</h1>

<a routerLink="signup">SignUp</a>

<router-outlet></router-outlet>

<hr />

<h1>SignIn</h1>

<a routerLink="signin">SignIn</a>

<router-outlet></router-outlet>
<!-- Button Logout -->
<button mat-raised-button color="primary" (click)="onLogout()">Logout</button>
